*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    width: 100vw;
    height: 100vh;

    
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: rgb(229, 235, 235);
}
.continer{
    position: relative;
    width: 40rem;
    height: 20rem;
    background-color: azure;
    border-radius: 10px;
    box-shadow: 0rem 1rem 1rem  rgb(158, 156, 156);

}
.quote{
    position: absolute;
    width: 35rem;
    height: 15rem;
    border-radius: 10px;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    background-color: rgb(240, 240, 247);
    left:2.5rem;
    top:1rem;
    padding:2rem 4rem;
   
}
.quote p{
    font-size: 1.5em;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
.long-quote{
   font-size: 0.75em;
   font-family: 'Courier New', Courier, monospace;
}
.quote p::before{
    content: '\201C';
    display: inline-block;
    font-size: 2em;

   color: #ff0000;



}
.quote .auther{
    font-size: 1.25em;
    font-family: 'Courier New', Courier, monospace;
    float: right;
    font-weight:500;
    /* background-color: #ff0000; */
    padding-top: 10px;
     
}
.quote .auther::before{
    content: "-";
    font-size: 1em;
    color: #ff0000;
    display: inline;

}
.buttons{
    width: 100%;
    height:2rem;
    background-color: rgb(240, 240, 247);;
    display: flex;
    justify-content:space-around;

    margin-top: 18rem;
}
.buttons .twitter{
    width:5rem;
    height:2rem;
    border: 1px solid #fff;
    border-radius:5px ;
    box-shadow:0 2px 5px 1px #918e8e;
    color: rgb(99, 150, 150);
}
.buttons .next{
    width: 6rem;
    border: 1px solid #fff;
    border-radius:5px ;
    box-shadow:0 2px 5px 1px #918e8e;
    color: rgb(99, 150, 150);

}
.hov:hover{
  transform: translateY(-3px);
  cursor: pointer;
   color: #a84646;
}
.loader{
    width: 120px;
    height:120px;
    border:16px solid #f3f3f3;
    border-top: 16px solid #333;
    border-radius: 50%;
    animation: spin 2s linear infinite;

}
@keyframes spin{
    0%{
        transform: rotate(0deg);

    }
    100%{
        transform: rotate(360deg);
    }
}
@media (max-width:600px){
    .continer{
        width:100%;
        height:35rem;
    }
    .quote{
        width: auto;
        height: auto;
        margin-bottom: 10px;
        margin-left: 0;
    }
   .buttons{
       width: auto;
       margin-top: 25rem;
   }
}